<link href="~/Scripts/qTip/jquery.qtip.css" rel="stylesheet" />
<link href="~/Scripts/qTip/jquery.qtip.min.css" rel="stylesheet" />
<script src="~/Scripts/qTip/jquery.qtip.min.js"></script>
<script src="~/Scripts/qTip/jquery.qtip.js"></script>
<div id="calendar"></div>
<script>
    var result;
    $('#calendar').fullCalendar({
        header: {
            left: 'prev',
            center: 'title',
            right: 'next'
        },
        eventRender: function (event, element) {
     
            $("[data-date=" + $.fullCalendar.formatDate(event.start, "yyyy-MM-dd") + "]").css("background-color", "red");
            element.css('font-size', '14px');
            element.qtip({
                content: '<strong style="color:red">'+event.title+'</strong>'+'<br/>'+event.description,
                style: {
                    background: 'black',
                    color: 'red',
                   
                },
                position: {
                    corner: {
                        target: 'center',
                        tooltip: 'bottomMiddle'
                    }
                }
            });
        },
    
        eventSources: [

        // your event source
        {
            events: GetEvents(),
            color: 'red',     // an option!
            textColor: 'yellow' // an option!
        }

        // any other event sources...

    ]
    });


    function GetEvents() {

        $.ajax({
            url: "@Url.Action("GetHolidayList", "DashBoard")",
            type: "post",
            async:false,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                result = JSON.parse(data);
            },
            error: function (requestObject, error, errorThrown) {
                alert(requestObject);
                alert("Object: " + requestObject + "\r\n" + error);
            }
        });
        return result;
    }



</script>
<style>
    .activeDay {
        background-color: #ff0000 !important;
    }
    .fc-day-content {
        color:red;
        cursor: pointer;
    }

    .fc-event-title {
        display: none;
  
    }
</style>