 .progress-box {
        width: 200px;
        margin: -10px 0;
    }
        .progress-box .percentage-cur .num {
            margin-right: 5px;
        }
        .progress-box .progress-bar {
            width: 200px;
            height: 12px;
            background: #f2f1f1;
            margin-bottom: 0px;
            border: 1px solid #dfdfdf;
            box-shadow: 0 0 2px #D5D4D4 inset;
            position: relative;
        }
            .progress-box .progress-bar .inner {
                position: relative;
                width: 0;
                height: 100%;
                background: #239bd6;
            }
    .progress-bar .inner {
        height: 0;
        width: 0;
        transition: all 1s ease-out;
    }
    .progress-bar-slider .inner {
        transition: none;
    }
        .progress-bar-slider .inner:after {
            content: " ";
            width: 5px;
            height: 14px;
            
            background-color: #ccc;
            position: absolute;
            right: -2px;
            top: -2px;
            border: 1px solid #bbb;
            border-radius: 2px;
            box-shadow: 0px 0px 2px rgba(0,0,0,0.3);
            margin: 0px;
        }
    .progress-slider {
        opacity: 0;
        width: 100%;
        height: 15px;
        position: absolute;
        top: 0px;
        left: 0px;
        cursor: pointer;
        z-index: 1;
    }


    /* Pop Css Start*/
.modal-box {
        display: none;
        position: absolute;
        z-index: 1000;
        width: 650px;
        height: 300px;
        background: white;
        border-bottom: 1px solid #aaa;
        border-radius: 4px;
        box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
        border: 1px solid rgba(0, 0, 0, 0.1);
        background-clip: padding-box;
    }
.modal-box header,
.modal-box .modal-header {
            padding: 1.25em 1.5em;
            border-bottom: 1px solid #ddd;
        }
.modal-box header h3,
.modal-box header h4,
.modal-box .modal-header h3,
.modal-box .modal-header h4 {
                margin: 0;
            }
.modal-box .modal-body {
            padding: 2em 1.5em;
            Height:150px
        }
.modal-box footer,
.modal-box .modal-footer {
            padding: 1em;
            border-top: 1px solid #ddd;
            background: rgba(0, 0, 0, 0.02);
            text-align: right;
        }
.modal-overlay {
        opacity: 0;
        filter: alpha(opacity=0);
        position: absolute;
        top: 0;
        left: 0;
        z-index: 900;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.3) !important;
    }
a.close {
        line-height: 1;
        font-size: 1.5em;
        position: absolute;
        top: 5%;
        right: 2%;
        text-decoration: none;
        color: #bbb;
    }
 a.close:hover {
            color: #222;
            -webkit-transition: color 1s ease;
            -moz-transition: color 1s ease;
            transition: color 1s ease;
        }

    /* Pop Css end*/