
@{
    ViewBag.Title = "MyLeave";
    Layout = "~/Views/Shared/_Home.cshtml";
}
<script>
    $(document).ready(function () {
        $('#MyLeaveTable').dataTable();
    });
</script>


    
       
 @model  IEnumerable<AquatroHRIMS.ViewModel.PendingLeave>
<fieldset class="scheduler-border">
    <legend class="scheduler-border">My Leave History</legend>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <table id="MyLeaveTable" class="table table-striped table-bordered" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>
                                Leave Type
                            </th>

                            <th>
                                Days
                            </th>
                            <th>
                                Status
                            </th>


                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                    {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.LeaveType)

                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.Days)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LeaveStatus)

                        </td>
                    </tr>
                    }
                    </tbody>
                </table>

            </div>
        </div>

    </div>
</fieldset>



