
@{
    ViewBag.Title = "MyLeave";
    Layout = "~/Views/Shared/_Home.cshtml";
}
<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="https://cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.js"></script>
<script>
    $(document).ready(function () {
        $('#MyLeaveTable').dataTable();
    });
</script>
<div class="container">
    <div class="row">

        @*<fieldset class="scheduler-border">
            <legend class="scheduler-border">Leave Details</legend>

            <div class="col-md-12">
                <div class="form-group">
                    <div class="col-sm-3"><strong>Employee Code :</strong> <span></span></div>
                    <div class="col-sm-3"><strong>Name :</strong> </div>
                    <div class="col-sm-3"><strong>Designation :</strong> </div>
                    <div class="col-sm-3"><strong>Department :</strong></div>
                </div>
            </div>
        </fieldset>*@
        <fieldset class="scheduler-border">
            <legend class="scheduler-border">Previous History</legend>
       
   @model  IEnumerable<AquatroHRIMS.ViewModel.PendingLeave>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <table id="MyLeaveTable" class="table table-striped table-bordered" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>
                            LeaveType
                        </th>

                        <th>
                            Days
                        </th>
                        <th>
                            Status
                        </th>


                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.LeaveType)

                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.Days)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LeaveStatus)

                            </td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
    </div>

</div>
  </fieldset>

    </div>

</div>