@model AquatroHRIMS.ViewModel.QuadrantMeasuresViewModel
@{

    Layout = "~/Views/Shared/_Home.cshtml";
}

<fieldset class="scheduler-border">
    <legend class="scheduler-border">Manager Review Rating</legend>
    <div>
        @{Html.RenderPartial("ReviewManagersComment", Model);}
    </div>
    <div>
        @{Html.RenderPartial("ReviewEmployeeAcceptance", Model);}
    </div>
</fieldset>