@model AquatroHRIMS.ViewModel.QuadrantMeasuresViewModel

<div>
    @{Html.RenderPartial("AddQuadrants", Model);}
</div>
<div>
    @{Html.RenderPartial("DevelopmentGoals", Model);}
</div>
<div>
    @{Html.RenderPartial("SummaryComments", Model);}
</div>
<div>
    @{Html.RenderPartial("ReviewRatings", Model);}
</div>

