@model AquatroHRIMS.ViewModel.QuadrantMeasuresViewModel
     @{
         
         Layout = "~/Views/Shared/_Home.cshtml";
     }  

<fieldset class="scheduler-border">
    <legend class="scheduler-border">Employee Review Rating</legend>
    <div>
        @{Html.RenderPartial("ManagersComment", Model);}
    </div>
    <div>
        @{Html.RenderPartial("EmployeeAcceptance", Model);}
    </div>
    </fieldset>
