@model AquatroHRIMS.ViewModel.QuadrantMeasuresViewModel
@{
    ViewBag.Title = "SetQuadrantMeasures";
    Layout = "~/Views/Shared/_Home.cshtml";
}
<head>
    <meta charset="utf-8">
    <title>Set Performance Quadrant</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    <link href="css/style.css" rel="stylesheet" type="text/css">
    <link href="css/component.css" rel="stylesheet" type="text/css">
    <link href="css/default.css" rel="stylesheet" type="text/css">

    <!-- Latest compiled and minified JavaScript -->
    @*<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>*@
    <script src="js/modernizr.custom.js"></script>
    <style>
        /* CSS REQUIRED */
        .state-icon {
            left: -5px;
        }

        .list-group-item-primary {
            color: rgb(255, 255, 255);
            background-color: rgb(66, 139, 202);
        }
        /* DEMO ONLY - REMOVES UNWANTED MARGIN */
        .well .list-group {
            margin-bottom: 0px;
        }
    </style>
</head>

<body>
    <div class="container-fluid">

        <div class="row">
            <br>

            <div class="col-md-12">

                <div class="col-md-3 pull-right">
                    <!--<label>Filter By Department :</label>-->
                    <select class="form-control valid" id="ddlClient" name="SelectedExternalClient">
                        <option value="0">Filter By Department</option>
                        <option value="2">A4</option>
                        <option value="3">A4</option>
                        <option value="4">A4</option>
                        <option value="5">Aquatro</option>
                        <option value="7">test</option>
                    </select>
                </div>

            </div>

            <tbody>

                <div class="container-fluid">

                    <div class="col-md-12">

                        <div class="col-md-3">
                            @*@Html.DropDownListFor(m => m.intGoalTitleId, new SelectList(Model.GoalTileModel, "Value", "Text"), "--select--", new { @class = "form-control chzn-select-deselect", id = "ddlGoal" })*@

                            <select class="form-control valid" id="ddlClient" name="SelectedExternalClient">
                                <option value="0">Performance Quadrant</option>
                                <option value="2">A4</option>
                                <option value="3">A4</option>
                                <option value="4">A4</option>
                                <option value="5">Aquatro</option>
                                <option value="7">test</option>
                            </select>

                        </div>

                        <div class="md-modal md-effect-16" id="modal-16">

                            <div class="md-content">
                                <h3>Modal Dialog</h3>

                                <div>
                                    <input type="text" value="Quadrant Measure">
                                    <button class="btn btn-primary">Submit</button>

                                    <button class="btn btn-primary md-close">Close</button>
                                </div>

                            </div>

                        </div>

                        <div class="md-overlay"></div>

                        <div class="col-md-2" style="margin:-3px 0px 0px -28px;">
                            <button type="button" class="btn btn-primary md-trigger" data-modal="modal-16">Add New</button>
                        </div>

                        <div class="col-md-4">
                            <p style="margin:15px 0px 0px 30px">
                                Apply this Quadrant to all level below <input type="checkbox">
                            </p>
                        </div>

                    </div>

                </div>

        </div>

        <div class="container-fluid">

            <div class="row">

                <div class="bs-example">
                    <table width="100%" class="table table-bordered">
                        <tbody>
                            <tr>
                                <td class="col-md-7"><label>Quadrant Measure</label></td>
                                <td class="col-md-3" rowspan="2">
                                    <div style="max-height:155px; overflow:auto;">
                                        <ul class="list-group checked-list-box">
                                            <li class="list-group-item">Select 1</li>
                                            <li class="list-group-item" data-checked="true">Select 1</li>
                                            <li class="list-group-item">Select 1</li>
                                            <li class="list-group-item">Select 1</li>
                                            <li class="list-group-item">Select 1</li>
                                            <li class="list-group-item">Select 1</li>
                                            <li class="list-group-item">Select 1</li>
                                            <li class="list-group-item">Select 1</li>
                                            <li class="list-group-item">Select 1</li>
                                            <li class="list-group-item">Select 1</li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="col-md-7"><textarea class="form-control" rows="5" id="comment"></textarea></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>

        </div>        
        <br>

        </tbody>
        <div class="container">

            <div class="col-lg-12">
                <button type="button" class="btn btn-primary">Save</button>
                <button type="button" class="btn btn-primary">Reset</button>
            </div>

        </div>
        <div class="container">
            <button type="button" class="btn btn-primary">Set Quadrant</button>
            <button type="button" class="btn btn-primary">Release Quadrant</button>
        </div>
        <br>

    </div>
    <script src="js/classie.js"></script>
    <script src="js/modalEffects.js"></script>
   
    <script>
        // this is important for IEs
        var polyfilter_scriptpath = '/js/';
        $(function () {
            $('.list-group.checked-list-box .list-group-item').each(function () {
                // Settings
                var $widget = $(this),
                    $checkbox = $('<input type="checkbox" class="hidden" />'),
                    color = ($widget.data('color') ? $widget.data('color') : "primary"),
                    style = ($widget.data('style') == "button" ? "btn-" : "list-group-item-"),
                    settings = {
                        on: {
                            icon: 'glyphicon glyphicon-check'
                        },
                        off: {
                            icon: 'glyphicon glyphicon-unchecked'
                        }
                    };

                $widget.css('cursor', 'pointer')
                $widget.append($checkbox);

                // Event Handlers
                $widget.on('click', function () {
                    $checkbox.prop('checked', !$checkbox.is(':checked'));
                    $checkbox.triggerHandler('change');
                    updateDisplay();
                });
                $checkbox.on('change', function () {
                    updateDisplay();
                });


                // Actions
                function updateDisplay() {
                    var isChecked = $checkbox.is(':checked');

                    // Set the button's state
                    $widget.data('state', (isChecked) ? "on" : "off");

                    // Set the button's icon
                    $widget.find('.state-icon')
                        .removeClass()
                        .addClass('state-icon ' + settings[$widget.data('state')].icon);

                    // Update the button's color
                    if (isChecked) {
                        $widget.addClass(style + color + ' active');
                    } else {
                        $widget.removeClass(style + color + ' active');
                    }
                }

                // Initialization
                function init() {

                    if ($widget.data('checked') == true) {
                        $checkbox.prop('checked', !$checkbox.is(':checked'));
                    }

                    updateDisplay();

                    // Inject the icon if applicable
                    if ($widget.find('.state-icon').length == 0) {
                        $widget.prepend('<span class="state-icon ' + settings[$widget.data('state')].icon + '"></span>');
                    }
                }
                init();
            });

            $('#get-checked-data').on('click', function (event) {
                event.preventDefault();
                var checkedItems = {}, counter = 0;
                $("#check-list-box li.active").each(function (idx, li) {
                    checkedItems[counter] = $(li).text();
                    counter++;
                });
                $('#display-json').html(JSON.stringify(checkedItems, null, '\t'));
            });
        });
        function fnAddNewRow() {
            var tbodyLength = $("#tblSetQuadrantMeasures tbody").length;
            var table = document.getElementById("tblSetQuadrantMeasures");
            var Count = tbodyLength + 1;

            var tbody = document.createElement("tbody");
            tbody.setAttribute("id", "tbody" + Count);

            var rowCount = tbody.rows.length;
            var row = tbody.insertRow(rowCount);
            var idRowCount = rowCount + 1;

            var cell1 = row.insertCell(0);
            var element1 = document.createElement("label");
            element1.id = "lblQuadrantLabel" + Count;
            element1.innerText = "Performance Quadrant :";
            cell1.appendChild(element1);

            var cell2 = row.insertCell(1);
            var element2 = document.createElement("Select");
            var abc = fnFillSelectList(element4);
            element2.id = "ddlGoalList" + Count;
            element2.className = "form-control";
            element2.onchange = function () {
                $("#lbl" + Count).css("display", "none");
            }
            cell2.appendChild(element2);

            var cell3 = row.insertCell(2);
            var element3 = document.createElement('button');
            element3.id = "btnAddNew" + Count;
            element3.className = "btn btn-primary";
            cell3.appendChild(element3);

            var cell4 = row.insertCell(3);
            var element4 = document.createElement('button');
            element4.id = "btnAddNew" + Count;
            element4.className = "btn btn-primary";
            cell4.appendChild(element4);

            var cell5 = row.insertCell(4);
            var element5 = document.createElement('label');
            element5.id = "lblCheckbox" + Count;
            element5.className = "btn btn-primary";
            cell5.appendChild(element5);

            var cell6 = row.insertCell(4);
            var element6 = document.createElement('checkbox');
            element6.id = "chkAllLevels" + Count;
            element6.className = "btn btn-primary";
            cell6.appendChild(element6);


            rowCount = rowCount + 1;
            var row = tbody.insertRow(rowCount);

            var cell7 = row.insertCell(0);
            var element7 = document.createElement('label');
            element7.id = "lblTextArea" + Count;
            element7.className = "btn btn-primary";
            cell7.appendChild(element7);

            rowCount = rowCount + 1;
            var row = tbody.insertRow(rowCount);

            var cell8 = row.insertCell(0);
            var element8 = document.createElement('textarea');
            element8.id = "txtQuadrantMeasures" + Count;
            element8.className = "btn btn-primary";
            cell8.appendChild(element8);
        }
    </script>
    <script src="js/cssParser.js"></script>
    <script src="js/css-filters-polyfill.js"></script>
</body>

