
@{
    ViewBag.Title = "UploadFile";
    Layout = "~/Views/Shared/_Home.cshtml";
}


<div style="border:2px solid green;height:200px;width:400px;margin-left:500px;">
  

  <input type="file" id="File"  />

</div>
<script type="text/javascript">
    document.getElementById('File').addEventListener('change', checkFile, false);
    function checkFile(e) {
        var fileSiaze = 0;
        var fileExtension = '';
        var file_list = e.target.files;
        for (var i = 0, file; file = file_list[i]; i++) {
            var fileExtension = file.name.split('.')[file.name.split('.').length - 1].toLowerCase();
            var iConvert = (file.size / 1024).toFixed(2);
            fileSiaze += file.size;
            txt = "File type : " + fileExtension + "\n";
            if (file.size > (1024 * 1024)) {
                txt += "Size: " + (file.size / (1024 * 1024)).toFixed(2) + " MB \n";
            } else {
                txt += "Size: " + (file.size / 1024).toFixed(2) + " KB \n";
            }
            if (fileExtension == "exe") {
                alert("You can not upload exe file");
                var fileUpload = document.getElementById("File").value = '';
            }

        }
        if (fileExtension == "exe") {
            alert("You can not upload exe file");
            var fileUpload = document.getElementById("File").value = '';
        }
        if (fileSiaze / (1024 * 1024) > 25) {
            alert("File size should not exceed 25 mb");
            var fileUpload = document.getElementById("File").value = '';
        }

    }
</script>



